<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Olympus</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site.css" />

</head>

<body>
    <div id="app">

        <button v-on:click="getMetaMaskAccount()">Load MetaMask account</button>
        <span>Wallet address: {{userAddress}} </span><br/>

        <br>            
        <h2>Crowdfunding Campaigns</h2>
        <br>
        <table>
            <tr>
                <td>Beneficiary Address:</td>
                <td><input type="text" v-model="crowdfundingContract_beneficiaryAddress"></td>
            </tr>
            <tr>
                <td>End Date:</td>
                <td><input type="text" v-model="crowdfundingContract_endDate"></td>
            </tr>
            <tr>
                <td>Conversion Rate:</td>
                <td><input type="text" v-model="crowdfundingContract_conversionRate"></td>
            </tr>
            <tr>
                <td>Min Cap:</td>
                <td><input type="text" v-model="crowdfundingContract_minCap"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea v-model="crowdfundingContract_description"></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><button v-on:click="deployCrowdfundingContract()">Deploy crowdfunding contract</button></td>
            </tr>
        </table>
        <br>
        <br>
        <span>Token fundraiser contract: {{contracts.tokenFundraiserInfo.address}}</span><br/>

        <button v-on:click="getCampaignContractData()">Get collected funds</button>
        <button v-on:click="getCampaignParticipantsData()">Get participants number</button>
        <button v-on:click="finalizeCampaign()">Finalize campaign</button>
        <span>Details: {{contracts.tokenFundraiserInfo.details}}</span><br/>
        <button v-on:click="contributeToCampaign()">Contribute to campaign</button><br/>
        <span>Contribution tx: {{campaignContributionTx}}</span>

        <hr>
        <br/>
        <br/>
        <h2>Fundshares token</h2>
        <button v-on:click="deployFundsharesToken()">Deploy fundshares token</button>
        <span>Token address: {{contracts.fundsharesToken.address}}</span><br/>

        <button v-on:click="purchaseFundshares()">Fundshares buyTokens()</button>
        <span>Details: {{purchaseFundsharesReceipt}}</span><br/>

        <span>Check balance of address:</span>
        <input type="text" v-model="purchasedFundsharesAddress" />
        <button v-on:click="viewPurchasedFundshares()">View balance</button>
        <span>Balance: {{purchasedFundsharesBalance}}</span><br/>

        <div>
            <label>Send Ether to Fundshares</label>
            <div>From: {{userAddress}}</br></div>
            <div>To:
                <input type="text" v-model="sendToAddress" size="40"> </input>
            </div>
            <div>Ether:
                <input type="text" v-model="sendValueAmount">
            </div>
            <div>
                <button v-on:click="sendEthToFundshares()">Send Ether</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

    <script src="./lib/web3.min.js"></script>
    <script src="./lib/lightwallet.js"></script>
    <script src="./lib/async.js"></script>
    <script src="./lib/hooked-web3-provider.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/wallet.js"></script>
</body>

</html>