.text-white h3 a {
    color:white;
}

#app {
}

td textarea {
    width: 100%;
}
td button {
    width: 100%;
}

.img-fixed{
    width: 100%;
    height: 320px;
    border: 4px solid black;
}

.portfolio-box {
    background-color: black;
}
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 800px;
    margin: 10px;
  }
  .modal-sm {
    max-width: 300px;
  }
  .modal-lg {
    max-width: 800px;
    height: 1200px;
  }
  
  .modal-lg .modal-content {
    height: 1000px;
  }

  @media (min-width: 768px) {
    .modal-dialog {
      margin: 30px auto;
    }
  }
  @media (min-width: 320px) {
    .modal-sm {
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (min-width: 620px) {
    .modal-dialog {
      margin-right: auto;
      margin-left: auto;
    }
    .modal-lg {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  @media (min-width: 920px) {
    .modal-lg {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .wider-columns td {
      padding-left: 50px;
  }

  .popup-gallery {
    background-color: black;
  }

  table.grid td{
    padding: 10px;
    border: 1px solid grey;
  }

  #wallet-app {
    padding: 50px;
  }